footer {
    width: 100%;
    background-color: #333333;
    overflow: hidden;
    height: 100px;
    position: absolute;
    bottom: 0;
}

footer p {
    padding-top: 0.5em;
    text-align: center;
    color: #eeeeee;
    font-size: smaller;
}
