/*--------------------------------------------------------!*CSS for card*!---------------------------------------------------------------*/
.card {
    width: 20%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 5px 20px #999;
    justify-content: center;
}

.card:hover .cocktailPicture img {
    width: 60%;
    filter: grayscale(0);
    border-radius: 25% 10%;
}

/*--------------------------------------------------------!*CSS for image*!---------------------------------------------------------------*/

.cocktailPicture {
    height: 250px;
    position: relative;
    overflow: hidden;
}
.cocktailPicture img {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: .3s;
    transition-timing-function: ease;
}

/*--------------------------------------------------------!*CSS for container card*!---------------------------------------------------------------*/

.container {
    text-align:center;
    padding: 15px 20px;
    box-sizing: border-box;
}

/*--------------------------------------------------------!*CSS for content card*!---------------------------------------------------------------*/

.title, .content {
    font-family: 'Playfair Display', serif;
}

.title {
    text-align:center;
    text-transform:uppercase;
    font-weight: bold;
}

.content {
    color: #777;
}